*.class

Java-Algorithms-Lafore/.idea/*
Java-JSON-Tasks/.idea/*
Java-Questions-for-Junior/.idea/*
Java-SOLID/.idea/*
Java-JUnit-Test-Tasks/.idea/*
Java-Simple-Tasks/.idea/*
Java-Simple-Tasks/*.iml
Java-Eckel-Book/.idea/*
Java-Epam-Elearn-Courses-Tasks/.idea/*
